# General
**/target/

# Frontend
**/frontendPlugin/
**/node_modules/
**/.angular/
**/dist/

# IntelliJ
# Ignore IntelliJ module files
*.iml

# Ignore everything in .idea
.idea/*

# Re-allow specific files inside .idea/
!.idea/dataSources.xml
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

