// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */
/* styles that apply to every component automatically */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/************************
 *** My custom styles ***
 ************************/

.page-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}

.page-actions a {
  color: var(--mat-sys-primary);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.page-actions .sep {
  color: #888;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

:root {
  --app-warn: #f44336; /* define custom warn color variable */
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-warn {
  @include mat.button-overrides((
    outlined-label-text-color: var(--mat-sys-error),
    outlined-outline-color: var(--mat-sys-error),
    outlined-state-layer-color: var(--mat-sys-error),
  ));
}

.mat-mdc-card.error-card {
  max-width: 500px;
  border-left: 4px solid var(--mat-sys-error);
  color: var(--mat-sys-error);
  margin: 10px 10px 10px 0;
  padding: 15px;
}

.form-card {
  max-width: 500px;
  margin: 10px 10px 10px 0;
  padding: 15px;
}

.form-field {
  width: 100%;
  margin-bottom: 5px;
}

mat-error {
  margin-top: -3px;
}
