.app-toolbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 20px;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.title-row {
  font-weight: 600;
  padding-bottom: 10px;
}

.action-buttons .lang-selected {
  background-color: var(--mat-sys-primary);
  color: white;
  border-color: var(--mat-sys-primary);
}

.user-section {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}

.user-section strong {
  font-weight: 500;
}

.app-content {
  padding-left: 20px;
}



